{% extends 'crece/plantilla.html' %}
{% load static %}
{% block title %}FORO{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'crece/css/estilo.css' %}">
{% endblock %}

{% block contenido %}
<div class="container mt-5">
    <h1>Foro</h1>
    {% if user.is_authenticated %}
        <button type="button" class="btn btn-primary" id="new-conversation">Nueva Publicación</button>
    {% endif %}
    <div id="conversation-list" class="mt-4">
        {% for post in posts %}
            <div class="card mb-3" id="post-{{ post.pk }}">
                <div class="card-body">
                    <h5 class="card-title">{{ post.title }}</h5>
                    <p class="card-text">{{ post.content }}</p>
                    <a href="{% url 'post_detail' post.pk %}" class="btn btn-secondary">Ver más</a>
                    {% if post.author == user or user.is_superuser %}
                        <a href="{% url 'post_edit' post.pk %}" class="btn btn-primary edit-post" data-post-id="{{ post.pk }}">Editar</a>
                    {% endif %}
                    {% if user.is_superuser %}
                        <a href="{% url 'post_delete' post.pk %}" class="btn btn-danger delete-post" data-post-id="{{ post.pk }}">Eliminar</a>
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Modal para Nueva Publicación -->
<div class="modal fade" id="newPostModal" tabindex="-1" aria-labelledby="newPostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newPostModalLabel">Nueva Publicación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="conversation-form" method="post" action="{% url 'post_new' %}">
                    {% csrf_token %}
                    <input type="text" id="title" name="title" class="form-control" placeholder="Título" required maxlength="200">
                    <textarea id="message" name="content" class="form-control mt-2" placeholder="Mensaje" required maxlength="650"></textarea>
                    <span id="char-count-modal" class="char-count-modal">0 / 650 caracteres</span>
                    <button type="submit" class="btn btn-primary mt-2">Guardar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Modal para Editar Publicación -->
<div class="modal fade" id="editPostModal" tabindex="-1" aria-labelledby="editPostModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPostModalLabel">Editar Publicación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="edit-conversation-form" method="post">
                    {% csrf_token %}
                    <input type="text" id="edit-title" name="title" class="form-control" placeholder="Título" required maxlength="200">
                    <textarea id="edit-message" name="content" class="form-control mt-2" placeholder="Mensaje" required maxlength="650"></textarea>
                    <span id="edit-char-count-modal" class="char-count-modal">0 / 650 caracteres</span>
                    <button type="submit" class="btn btn-primary mt-2">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
    console.log("JavaScript is loaded and running.");

    $('#new-conversation').click(function() {
        console.log("Button clicked");
        $('#newPostModal').modal('show');
    });

    $('#newPostModal .btn-close').click(function() {
        console.log("Modal close button clicked");
        $('#newPostModal').modal('hide');
    });

    $('#conversation-form').submit(function(e) {
        e.preventDefault();
        var title = $('#title').val().trim();
        var message = $('#message').val().trim();

        if (title && message) {
            $.post("{% url 'post_new' %}", {
                title: title,
                content: message,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }).done(function(data) {
                console.log("Response data: ", data);
                if (data.success) {
                    var newConvo = `
                        <div class="card mb-3" id="post-${data.post_id}">
                            <div class="card-body">
                                <h5 class="card-title">${data.title}</h5>
                                <p class="card-text">${data.content}</p>
                                <a href="/crece/post/${data.post_id}/" class="btn btn-secondary">Ver más</a>
                                <a href="/crece/post/${data.post_id}/edit/" class="btn btn-primary edit-post" data-post-id="${data.post_id}">Editar</a>
                                {% if user.is_superuser %}
                                    <a href="/crece/post/${data.post_id}/delete/" class="btn btn-danger delete-post" data-post-id="${data.post_id}">Eliminar</a>
                                {% endif %}
                            </div>
                        </div>
                    `;
                    $('#conversation-list').prepend(newConvo);
                    $('#newPostModal').modal('hide');
                    $('#conversation-form')[0].reset();  // Limpiar el formulario
                    $('#char-count-modal').text('0 / 650 caracteres');  // Restablecer el contador de caracteres
                } else {
                    alert("Ocurrió un error al guardar la publicación.");
                }
            }).fail(function(xhr, status, error) {
                console.error("Error en la solicitud: ", xhr.responseText);
                alert("Error en la solicitud: " + error);
            });
        } else {
            alert("Ambos campos son obligatorios.");
        }
    });

    $('#message').on('input', function() {
        var maxLength = $(this).attr('maxlength');
        var currentLength = $(this).val().length;
        $('#char-count-modal').text(currentLength + ' / ' + maxLength + ' caracteres');
    });

    // Edit post functionality
    $(document).on('click', '.edit-post', function(e) {
        e.preventDefault();
        var postId = $(this).data('post-id');
        var postCard = $('#post-' + postId);
        var postTitle = postCard.find('.card-title').text();
        var postContent = postCard.find('.card-text').text();

        $('#edit-title').val(postTitle);
        $('#edit-message').val(postContent);
        $('#edit-char-count-modal').text(postContent.length + ' / 650 caracteres');
        $('#edit-conversation-form').attr('action', '/crece/post/' + postId + '/edit/');
        $('#editPostModal').modal('show');
    });

    $('#edit-conversation-form').submit(function(e) {
        e.preventDefault();
        var title = $('#edit-title').val().trim();
        var message = $('#edit-message').val().trim();
        var actionUrl = $(this).attr('action');

        if (title && message) {
            $.post(actionUrl, {
                title: title,
                content: message,
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }).done(function(data) {
                console.log("Response data: ", data);
                if (data.success) {
                    var updatedPost = `
                        <div class="card-body">
                            <h5 class="card-title">${data.title}</h5>
                            <p class="card-text">${data.content}</p>
                            <a href="/crece/post/${data.post_id}/" class="btn btn-secondary">Ver más</a>
                            <a href="/crece/post/${data.post_id}/edit/" class="btn btn-primary edit-post" data-post-id="${data.post_id}">Editar</a>
                            {% if user.is_superuser %}
                                <a href="/crece/post/${data.post_id}/delete/" class="btn btn-danger delete-post" data-post-id="${data.post_id}">Eliminar</a>
                            {% endif %}
                        </div>
                    `;
                    $('#post-' + data.post_id).html(updatedPost);
                    $('#editPostModal').modal('hide');  // Cerrar el modal
                    $('#edit-conversation-form')[0].reset();  // Limpiar el formulario
                    $('#edit-char-count-modal').text('0 / 650 caracteres');  // Restablecer el contador de caracteres
                } else {
                    alert("Ocurrió un error al guardar la publicación.");
                }
            }).fail(function(xhr, status, error) {
                console.error("Error en la solicitud: ", xhr.responseText);
                alert("Error en la solicitud: " + error);
            });
        } else {
            alert("Ambos campos son obligatorios.");
        }
    });

    $('#edit-message').on('input', function() {
        var maxLength = $(this).attr('maxlength');
        var currentLength = $(this).val().length;
        $('#edit-char-count-modal').text(currentLength + ' / ' + maxLength + ' caracteres');
    });

    // Modal close button functionality
    $('#editPostModal .btn-close').click(function() {
        console.log("Modal close button clicked");
        $('#editPostModal').modal('hide');
    });

    // Delete post functionality
    $(document).on('click', '.delete-post', function(e) {
        e.preventDefault();
        if (confirm("¿Estás seguro de que deseas eliminar esta publicación?")) {
            var postId = $(this).data('post-id');
            var actionUrl = '/crece/post/' + postId + '/delete/';

            $.post(actionUrl, {
                csrfmiddlewaretoken: '{{ csrf_token }}'
            }).done(function(data) {
                if (data.success) {
                    $('#post-' + postId).remove();
                } else {
                    alert("Ocurrió un error al eliminar la publicación.");
                }
            }).fail(function(xhr, status, error) {
                console.error("Error en la solicitud: ", xhr.responseText);
                alert("Error en la solicitud: " + error);
            });
        }
    });
});
</script>
{% endblock %}
