{% extends 'crece/plantilla.html' %}
{% load static %}
{% block title %}NOSOTROS{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'crece/css/estilo.css' %}">
{% endblock %}


{% block contenido %}
  <section>
    <div class="container text-n">
        <div class="row">
            <div class="col-md-12">
              <h5>
                Como cristianos, nos definimos como seguidores de Jesucristo, aquellos que creen en él como el Hijo de Dios y Salvador, y que buscan vivir de acuerdo con sus enseñanzas y ejemplos. Nuestra fe se basa en la creencia en la Biblia como la Palabra de Dios, que contiene la revelación de su voluntad y propósito para la humanidad. Buscamos una relación personal con Dios a través de Jesucristo, aceptando su sacrificio en la cruz por nuestros pecados y confiando en su gracia para nuestra salvación. Como cristianos, nos esforzamos por amar a Dios con todo nuestro corazón, alma, mente y fuerzas, y amar a nuestro prójimo como a nosotros mismos, viviendo una vida de fe, esperanza y amor en comunión con Dios y con los demás.
              </h5>
            </div>
        </div>
      </div>
  </section>
  
  <section>
    <div class="container text-n2">
        <div class="row">
            <div class="col-md-12">
              <div class="secction-content-right" style="width: auto;
              height: auto;
              margin-top: 15%;
              margin-left: 50%;">
                <h6 style="text-align: justify;">
                  Jesús se acercó entonces a ellos y dijo: <br>
                  Se me ha dado toda autoridad en el cielo y en la tierra. 19 Por tanto, vayan y hagan discípulos de todas las naciones, bautizándolos en el nombre del Padre y del Hijo y del Espíritu Santo, enseñándoles a obedecer todo lo que les he mandado a ustedes. Y les aseguro que estaré con ustedes siempre, hasta el fin del mundo.
                </h6>
                <h6 style="text-align: right;">
                  <br>
                  Mateo 28:18-20
                </h6>
              </div>
            </div>
        </div>
      </div>
  </section>
  

  {% endblock %}